.idea
.vscode/*
!.vscode/bookmarks.json
**/__pycache__
log
out*

config
!config/simplegpt2_template.json

data/*
!data/.gitkeep
!data/bubble_summary*
!data/pipeline_bubble_stat_globalbatch*
!data/bubble_stat_*
!data/sensitivity_different_*
!data/e2e_freeride_no_checkpointing.tar.gz
!data/e2e_naive_mps_no_checkpointing.tar.gz
!data/workload_breakdowns*
!data/figure_1_out_data*
!data/time_constraint*
!data/memory_constraint*

e2e_freeride_ada6000*
e2e_freeride_2_ada6000*
e2e_freeride_2_ada6000*
e2e_naive_ada6000*
e2e_nd_ada6000*

fig/*
!fig/.gitkeep

src/freeride/*_pb2.py
src/freeride/*_pb2_grpc.py
src/freeride/*_pb2.pyi
src/XXX.egg-info

build

dist/*
uploadserver/*
*.spec
*.pth

playground.py

side_task/bfs_side_task
schedule_ada6000_iterative_result
schedule_ada6000_imperative_result
gpu_workload_profile_*
*.pdf
tmp
e2e_freeride_no_checkpointing/*
e2e_naive_mps_no_checkpointing/*
e2e_naive_no_checkpointing/*

naive
naive_mps*
naive_without_*

#side_task/image_side_task
#side_task/pr_side_task
#side_task/sgd_side_task

**/.DS_Store